/* Add a div with id="box" inside the body element of the page, and apply the following CSS rule:  */

#box { 
    width: 100px; 
    height: 100px; 
    position: absolute; 
    /* content will added with pic and background color deleted */
    background: gray; 
    background-image: url('rsz_unsplash.jpg');
    left: 200px; 
    top: 200px; 
}